<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxup.oracle.apps.per.publicservice.schema.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="XxupPerPSCountriesEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPSCountriesEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPSTypeOfActivitiesEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPSTypeOfActivitiesEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPublicServiceAddrEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPublicServiceAddrEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPublicServiceBenifEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPublicServiceBenifEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPublicServiceCatEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPublicServiceCatEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPublicServiceHeaderEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPublicServiceHeaderEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxupPerPublicServiceSubjEO"
      FullName="xxup.oracle.apps.per.publicservice.schema.server.XxupPerPublicServiceSubjEO"
      ObjectType="Entity" >
   </Containee>
</JboPackage>
